{% extends "base.html" %}
{% block content %}

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<div class="alert alert-info">
    <strong>Info!</strong> Tags are currently the only model that can be edited and deleted from the system. Logging in is possible, but no user related models have been implemented yet.
</div>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Track</th>
            <th scope="col">URL</th>
            <th scope="col">Tags</th>
        </tr>
    </thead>
    <tbody>
        {% for track in tracks %}
        <tr>
            <td><a href="{{base_path}}/tracks/{{track.id}}">{{track.title}}</a></td>
            <td><a href="{{track.url}}">{{track.url}}</a></td>
            <td>
                {% for tag in track.tags %}
                <span class="badge badge-default">{{tag.name}}</span>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}