{% extends "base.html" %}
{% block content %}

<h1>Add track</h1>
<form method="post" action="{{base_path}}/tracks">
    <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" type="text" name="title" id="title"></input>
    </div>
    <div class="form-group">
        <label for="url">Track URL</label>
        <input class="form-control" type="url" name="url" id="url"></input>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" rows="2" name="description" id="description"></textarea>
    </div>
    <div class="form-group">
        {% for tag in tags %}
        <label class="checkbox-inline"><input type="checkbox" name="tag_ids[]" value="{{tag.id}}">{{tag.name}}</label>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}