{% extends "base.html" %}
{% import "macros/forms.html" as forms %}
{% block content %}

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<h1>Track – {{track.title}}</h1>
<h2>URL</h2>
<a href={{track.url}}>{{track.url}}</a>
<h2>Description</h2>
<p>{{track.description}}</p>
<h2>Tags</h2>
<p>
    {% for tag in track.tags %}
    <span class="badge badge-default">{{tag.name}}</span>
    {% endfor %}
</p>

<div class="btn-group">
    {% if  user_logged_in.id == track.musician_id %}
    {{forms.edit_button("#{base_path}/tracks/#{track.id}/edit")}}
    {{forms.destroy_button("#{base_path}/tracks/#{track.id}/destroy")}}
    {% elseif user_logged_in and track.hasFeedbackFrom(user_logged_in.id) == false%}
    <a class="btn btn-default btn-sm" href="{{base_path}}/tracks/{{track.id}}/feedback/new">Give feedback</a>
    {% endif %}
</div>

{% endblock %}