{% extends "suunnitelmat/base.html" %}
{% block content %}

<h1>Feedback – <span>Clementine</span></h1>
<h2>Track</h2>
<iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/371359655&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
<h2>Summary</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consequuntur cumque ex exercitationem ipsa nostrum nulla obcaecati omnis, placeat praesentium qui quod quos rem sequi, tenetur, vitae voluptates. Consequuntur, saepe!
</p>
<h2>Description</h2>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias, consectetur corporis, dolor, esse laborum magnam magni necessitatibus nihil obcaecati perferendis provident quibusdam quis quod quos saepe voluptatum. Non, numquam.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, amet aspernatur at dolores eos eveniet laboriosam magnam molestiae, pariatur possimus praesentium quam ratione repudiandae suscipit, voluptatum. Aliquid cumque eveniet laudantium?
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae commodi corporis distinctio ea enim facilis fuga id itaque iure magni pariatur, perspiciatis placeat quidem sint sit suscipit totam ut vero?
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet blanditiis consequatur dignissimos eaque eos, fuga id maxime molestias officia officiis omnis perferendis perspiciatis quod recusandae, saepe sapiente totam, ut voluptas?
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, dolor doloremque maxime quaerat ratione sit. Autem doloremque magni maiores placeat velit? Aliquid, dolor error neque quaerat repellat sint tenetur totam.
</p>

<div class="btn-group">
    <a class="btn btn-default" href="{{base_path}}/suunnitelmat/feedback/1/edit_form">Edit</a>
    <a class="btn btn-default" href="#">Delete</a>
</div>
{% endblock %}