{% extends "suunnitelmat/base.html" %}
{% block content %}

<h1>Add track</h1>
<form action="">
    <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" type="text" id="title"></input>
    </div>
    <div class="form-group">
        <label for="url">Track URL</label>
        <input class="form-control" type="url" id="url"></input>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" rows="2" id="description"></textarea>
    </div>
    <div class="form-group">
        <label class="checkbox-inline"><input type="checkbox" value="electronic">electronic</label>
        <label class="checkbox-inline"><input type="checkbox" value="instrumental">instrumental</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}