{% extends "suunnitelmat/base.html" %}
{% block content %}

<h1>Clementine</h1>
<h2>Track</h2>
<iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/371359655&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
<h2>URL</h2>
<a href="https://soundcloud.com/qsma/clementine">https://soundcloud.com/qsma/clementine</a>
<h2>Description</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consequuntur cumque ex exercitationem ipsa nostrum nulla obcaecati omnis, placeat praesentium qui quod quos rem sequi, tenetur, vitae voluptates. Consequuntur, saepe!
</p>
<div class="btn-group">
    <a href="{{base_path}}/suunnitelmat/tracks/1/add_feedback" class="btn btn-default" role="button">Give feedback</a>
    <a href="{{base_path}}/suunnitelmat/tracks/1/edit_form" class="btn btn-default" role="button">Edit</a>
    <button type="button" class="btn btn-default">Delete</button>
</div>
{% endblock %}